* { box-sizing : border-box; }

body {
	font-family: 'Roboto', sans-serif;
}

.home-wrapper {
	background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ),url('../images/backgroundComputer.jpg') no-repeat center top;
	background-size: 100% 100%;
	color: white;	
}

header {
	width: 100%;
	padding: 15px 0;    
	position: fixed;
	background-color: rgba(48 , 48 , 48 , 0.5);
}


header nav {
	float: right;
	margin-top: 10px;   
}

header nav a {
	color: white;
	font-weight: bold;
	text-decoration: none;
	margin-left: 10px;
	padding: 10px 15px;
	font-size: 18px;
}

header nav a.active {
	background: #fed136;
	border-radius: 5px;
}

#home {
	text-align: center;
	padding: 230px 0 150px;    
}

#home h1 {
	font-size: 68px;
	font-weight: normal;
}

#home p {
	font-size: 30px;
}


#what-I-do {
	text-align: center;
}

#what-I-do .box {
	display: inline-block;
	width: 33%;
	padding: 10px;
}

#what-I-do img {
	width: 280px;
	height: 200px;
}

#what-I-have-done {
	background-color: #E0E0E0;
	text-align: center;
}

#what-I-have-done img {
	width: 380px;
	height: 250px;
}

#what-I-have-done .box {
	display: inline-block;
	width: 33%;
	padding: 10px;
}

#contact {
	background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ), url('../images/imagen.gif') no-repeat center center;
	background-size: cover;
	margin: 0;
	color: black;	
	text-align: center;
	padding: 50px 0 50px;
}

#contact .social {
	margin-top: 50px;
}

#contact .social a {
	text-align: center;             
	color: white;
	display: inline-block;
	border-radius: 50%;
	background-color: black;
	font-size: 24px;
	font-weight: bold;
	height: 50px;
	width: 50px;
	line-height: 50px;
	margin-right: 10px;
	-moz-transition: all .4s;
    -webkit-transition: all .4s;
    transition: all .4s;
}

#contact .social a:hover {
	background-color: #E9B42D;    
}

section {
	padding: 80px 0;     
}

section h2 {
	font-size: 40px;
	text-align: center;
	margin-bottom: 70px;
}

section h3 {
	font-size: 20px;
}

footer h1 {
	font-size: 64px;
}

.container {
	width: 992px;
	margin-left: auto;
	margin-right: auto;
}
